{% extends "base_generic.html" %}

{%block content %}
  <h1>The Three Domain Architeceture</h1>
	<p>Welcome to The Management and Public Interface for <em>Our Partnership Project</em>!</p>
	<h3>Dynamic content</h3>
	<p>Here is a summary of our Cloud Upload project thus far:</p>
	<u1>
		<li><strong>Total Records in the Cloud:</strong> {{ num_instances }}</li>
    <li><strong>Total Patients Represented:</strong> {{ num_patients }}</li>
		<li><strong>Hospitals represented with patient data in the Cloud:</strong> {{ num_hospitals }}</li>
    <li><strong>Total Partners connected to our Cloud data:</strong> {{ num_partners }}</li>
	</u1>

  <u2>
	  <p><label for="inp02">Are you ready to visit the 3 Domain Architecture?
		<select name="work" id="inp02">
		<option value="0">-- Please Select --</option>
		<option value="1">Yes</option>
		<option value="2">No</option>
		<option value="3">Not sure</option>
		</p>

	</u2>

	<u3>
		<input type="submit" onclick="location.href='home.html'; return false;" value="Submit"/>;
		{% csrf_token %}
	</u3>

{% endblock %}

<footer>
© 2021 eWISE LLC
</footer>
